:host {
    display: block;
}

.mat-toolbar.mat-primary {
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.nav-header {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.nav-menu {
    display: flex;

    a {
        margin-right: 10px;
    }
}
