:host {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100svh;
    min-width: 100svw;
    z-index: -2;
    filter: opacity(10%) invert(50%);
    background-image: url("images/background.svg");
    background-repeat: repeat;
}


