<h3 class="title">Education</h3>

@defer (on viewport; prefetch on idle) {
    @for (education of education; track $index) {
        <mat-card appearance="outlined" role="listitem">
            <mat-card-header>
                <mat-card-title>
                    {{ education.institute }}
                </mat-card-title>
                <span>
                    {{ education.startDate | date : "mediumDate" }} |
                    {{ education.endDate | date : "mediumDate" }}
                </span>
                <mat-card-subtitle>{{ education.course }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ education.description }}
                </p>
                @for (skill of education.skills; track $index) {
                <mat-chip>{{ skill }}</mat-chip>
                }
            </mat-card-content>
        </mat-card>
        }        
} @placeholder {
    <p>loading</p>
}
