<a [routerLink]="'/services/details/' + this.service().short_name" (click)="scrollToTop()">
    <mat-card appearance="outlined">
        <img mat-card-image [ngSrc]="'services/' + this.service().short_name + '/thumbnail/' + this.service().thumbnail" height="128" width="128" priority />
        <mat-card-header>
            <mat-card-title>
                {{ this.service().name }}
            </mat-card-title>
            <mat-card-subtitle>{{ this.service().name }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ this.service().summary }}
            </p>
            @for (tech of this.service().technologies; track $index) {
            <mat-chip>{{ tech }}</mat-chip>
            }
        </mat-card-content>
    </mat-card>
</a>