:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
    @media (max-width: 960px) {
        & {
          width: 100%;
        }
    }
}

mat-card {
    max-width: 45%;
    margin: 10px 10px;
    @media (max-width: 960px) {
        & {
          max-width: 100%;
        }
    }
}

mat-card-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-chip {
    margin: 3px;
}

p {
    text-indent: 20px;
}
