<h3 class="title">Experiences</h3>
@for (experience of (experience$ | async); track $index) {
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ experience.role }}
        </mat-card-title>
        <span>
            {{ experience.startDate| date : "mediumDate" }} |
            @if (experience.endDate == 'Current In') {
                {{ experience.endDate }}
            } @else {
                {{ experience.endDate| date : "mediumDate" }}
            }
        </span>
        <mat-card-subtitle>{{ experience.company }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ experience.description }}
        </p>
        @for (skill of experience.skills; track $index) {
        <mat-chip>{{ skill }}</mat-chip>
        }
    </mat-card-content>
</mat-card>
}
