:host {
    display: block;
    width: 100%;
    height: 90svh;
}

mat-card-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-chip {
    margin: 3px;
}

p {
    text-indent: 20px;
}
