@if (developer() != undefined) {
<avatar [developer]="developer()!" />
<informations [developer]="developer()!" />
}
<education />
<certifications />

<article>
    <h4 class="title">More About Me</h4>
    <p>
        My name is Gabriel de Souza, and I am an entry-level programmer with
        approximately one year of experience in personal projects and
        collaborations with private institutions. My journey in programming
        began in 2014 with JavaScript and C# in the Unity Engine, during which
        time I developed simple yet highly satisfying games for myself.
    </p>
    <p>
        In 2021, I enrolled in the Systems Analysis and Development
        undergraduate course at the Instituto Federal Farroupilha, where I had
        the opportunity to learn programming concepts from the basics to
        advanced levels, as well as to participate in various events in the
        field. I am currently seeking job opportunities and offering freelance
        services, as listed below.
    </p>
</article>
