.sidenav-container {
    height: 100%;
}

.sidenav {
    max-width: 300px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.menu-toolbar {
    display: flex;
    justify-content: space-between;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        margin-right: 10px;
    }
}
