<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'push' : 'over'"
        [autoFocus]="false"
    >
        <mat-toolbar class="menu-toolbar">
            <span>Menu</span>
            <button
                type="button"
                aria-label="close side navigation"
                mat-icon-button
                matTooltipPosition="right"
                matTooltip="close"
                (click)="drawer.close()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a
                mat-list-item
                routerLink="/about"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="drawer.close()"
                >About Me</a
            >
            <a
                mat-list-item
                routerLink="/projects"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="drawer.close()"
                >Projects</a
            >
            <!-- 
                <a mat-list-item routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page"
                (click)="drawer.close()">My Services</a> 
            -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <app-header [drawer]="drawer" />

        <ng-content />

        <div class="nav-routes">
            <navigation-routes />
        </div>

        <app-footer />

        <background />

        <scroll-to-top />
    </mat-sidenav-content>
</mat-sidenav-container>
