.sidenav-container {
  height: 100%;
}

.sidenav {
  max-width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.menu-toolbar {
    display: flex;
    justify-content: space-between;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        margin-right: 10px;
    }
}

.nav-menu {
    display: flex;

    a {
        margin-right: 10px;
    }
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    filter: opacity(10%) invert(50%);
    background-image: url("images/background.svg");
    background-repeat: repeat;
}
