:host {
    display: block;
}

#actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 20px 0;
}

#skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}
