<nav role="navigation">
    <a
        mat-button
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="scrollToTop()"
        ><mat-icon>home</mat-icon>About Me</a
    >
    <a
        mat-button
        routerLink="/projects/list"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="scrollToTop()"
        ><mat-icon>dvr</mat-icon>Projects</a
    >
    <!--
    <a
        mat-button
        routerLink="/services"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="scrollToTop()"
        ><mat-icon>room_service</mat-icon>My Services</a
    >
    -->
</nav>
