:host {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.actions {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    button {
      margin: 0 5px;
    }
}
