:host {
    display: block;
    margin-top: 40px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

