html,
body {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 10px auto;
    max-width: 90svw;
    @media (max-width: 1200px) {
        & {
            max-width: 96svw;
        }
    }
}

.title {
    text-align: center;
    width: 100%;
}

.keyword {
    display: inline;
    font-size: small;
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #666;
}
